In [128]:
import pandas as pd
pd.set_option('max_rows', 5)
import numpy as np

reviews = pd.read_csv("data.csv", index_col=0)

# DataFrames

In [4]:
pd.DataFrame({
    'Yes': [50,21],
    'No': [131,2]
})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

# Data Series

In [10]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# Indexing

In [129]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1900,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1900,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,US,It's interesting and a little odd that this 10...,To Kalon Vineyard I Block,91,75.0,California,Oakville,Napa,NaN,NaN,Robert Mondavi 2010 To Kalon Vineyard I Block ...,Fumé Blanc,Robert Mondavi,1900,119973
9999,France,"As befits a single vineyard Gevrey Chambertin,...",Les Evocelles,91,52.0,Burgundy,Gevrey-Chambertin,NaN,Roger Voss,@vossroger,Henri de Villamont 2010 Les Evocelles (Gevrey...,Pinot Noir,Henri de Villamont,1900,119972

In [51]:
reviews.country

0          Italy
1       Portugal
          ...
9998          US
9999      France
Name: country, Length: 10000, dtype: object

In [52]:
reviews['country']

0          Italy
1       Portugal
          ...
9998          US
9999      France
Name: country, Length: 10000, dtype: object

# Index-based selection

In [53]:
# first row
reviews.iloc[0]

country                                                        Italy
description        Aromas include tropical fruit, broom, brimston...
                                         ...
New col                                                         1900
index_backwards                                               129971
Name: 0, Length: 15, dtype: object

In [54]:
# first column
reviews.iloc[:,0]

0          Italy
1       Portugal
          ...
9998          US
9999      France
Name: country, Length: 10000, dtype: object

In [55]:
# three rows, first column
reviews.iloc[:3,0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [56]:
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [57]:
reviews.iloc[[0, 1, 2], [0, 1, 2]]

    country                                        description   designation
0     Italy  Aromas include tropical fruit, broom, brimston...  Vulkà Bianco
1  Portugal  This is ripe and fruity, a wine that is smooth...      Avidagos
2        US  Tart and snappy, the flavors of lime flesh and...           NaN

In [58]:
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
9995,US,Comes from a little-understood part of the spr...,Griffin's Lair,89,46.0,California,Sonoma Coast,Sonoma,NaN,NaN,Roessler 2008 Griffin's Lair Pinot Noir (Sonom...,Pinot Noir,Roessler,1900,119976
9996,US,"Smoky and savory, with sharp acidity under bla...",NaN,89,22.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Seven Hills 2007 Tempranillo (Columbia Valley ...,Tempranillo,Seven Hills,1900,119975
9997,France,The style at Domaines Ott has changed to becom...,Château de Selle,89,43.0,Provence,Côtes de Provence,NaN,Roger Voss,@vossroger,Domaines Ott 2009 Château de Selle Rosé (Côtes...,Rosé,Domaines Ott,1900,119974
9998,US,It's interesting and a little odd that this 10...,To Kalon Vineyard I Block,91,75.0,California,Oakville,Napa,NaN,NaN,Robert Mondavi 2010 To Kalon Vineyard I Block ...,Fumé Blanc,Robert Mondavi,1900,119973
9999,France,"As befits a single vineyard Gevrey Chambertin,...",Les Evocelles,91,52.0,Burgundy,Gevrey-Chambertin,NaN,Roger Voss,@vossroger,Henri de Villamont 2010 Les Evocelles (Gevrey...,Pinot Noir,Henri de Villamont,1900,119972

# Label-based selection

In [59]:
reviews.loc[0, 'country']

'Italy'

In [60]:
reviews.loc[:,['country','points','price']]

       country  points  price
0        Italy      87    NaN
1     Portugal      87   15.0
...        ...     ...    ...
9998        US      91   75.0
9999    France      91   52.0

[10000 rows x 3 columns]

# Conditional selection

In [61]:
reviews.loc[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1900,129971
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,1900,129965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,Italy,"Thick, black and extracted, this dense Barbera...",Del Beneficio,89,NaN,Piedmont,Barbera d'Asti Superiore,NaN,NaN,NaN,Castello di Razzano 2007 Del Beneficio (Barbe...,Barbera,Castello di Razzano,1900,119983
9989,Italy,Pretty coffee notes are offset by ripe aromas ...,La Tota,89,28.0,Piedmont,Barbera d'Asti,NaN,NaN,NaN,Marchesi Alfieri 2007 La Tota (Barbera d'Asti),Barbera,Marchesi Alfieri,1900,119982

In [62]:
reviews[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1900,129971
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,1900,129965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,Italy,"Thick, black and extracted, this dense Barbera...",Del Beneficio,89,NaN,Piedmont,Barbera d'Asti Superiore,NaN,NaN,NaN,Castello di Razzano 2007 Del Beneficio (Barbe...,Barbera,Castello di Razzano,1900,119983
9989,Italy,Pretty coffee notes are offset by ripe aromas ...,La Tota,89,28.0,Piedmont,Barbera d'Asti,NaN,NaN,NaN,Marchesi Alfieri 2007 La Tota (Barbera d'Asti),Barbera,Marchesi Alfieri,1900,119982

In [63]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto,1900,129851
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto,1900,129841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9816,Italy,"Forest floor, new leather, ripe, dark-skinned ...",Riserva,93,39.0,Tuscany,Chianti Classico,NaN,Kerin O’Keefe,@kerinokeefe,Badia a Coltibuono 2011 Riserva (Chianti Clas...,Red Blend,Badia a Coltibuono,1900,120155
9934,Italy,"Almond blossom, stone fruit and a tiny touch o...",Extra Dry Particella 68,90,NaN,Veneto,Prosecco di Valdobbiadene,NaN,NaN,NaN,Sorelle Bronca NV Extra Dry Particella 68 (Pr...,Prosecco,Sorelle Bronca,1900,120037

In [64]:
reviews.loc[reviews.country.isin(['Italy','France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1900,129971
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,1900,129965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,France,The style at Domaines Ott has changed to becom...,Château de Selle,89,43.0,Provence,Côtes de Provence,NaN,Roger Voss,@vossroger,Domaines Ott 2009 Château de Selle Rosé (Côtes...,Rosé,Domaines Ott,1900,119974
9999,France,"As befits a single vineyard Gevrey Chambertin,...",Les Evocelles,91,52.0,Burgundy,Gevrey-Chambertin,NaN,Roger Voss,@vossroger,Henri de Villamont 2010 Les Evocelles (Gevrey...,Pinot Noir,Henri de Villamont,1900,119972

In [65]:
reviews.price.notnull()

0       False
1        True
        ...
9998     True
9999     True
Name: price, Length: 10000, dtype: bool

In [66]:
reviews.loc[reviews.price.notnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1900,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1900,129969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,US,It's interesting and a little odd that this 10...,To Kalon Vineyard I Block,91,75.0,California,Oakville,Napa,NaN,NaN,Robert Mondavi 2010 To Kalon Vineyard I Block ...,Fumé Blanc,Robert Mondavi,1900,119973
9999,France,"As befits a single vineyard Gevrey Chambertin,...",Les Evocelles,91,52.0,Burgundy,Gevrey-Chambertin,NaN,Roger Voss,@vossroger,Henri de Villamont 2010 Les Evocelles (Gevrey...,Pinot Noir,Henri de Villamont,1900,119972

# Assigning data

In [67]:
reviews['New col'] = 1900

In [68]:
reviews['New col']

0       1900
1       1900
        ...
9998    1900
9999    1900
Name: New col, Length: 10000, dtype: int64

In [69]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0       10000
1        9999
        ...
9998        2
9999        1
Name: index_backwards, Length: 10000, dtype: int32

# Summary functions

In [71]:
reviews.points.describe()

count    10000.0000
mean        88.3957
            ...
75%         90.0000
max        100.0000
Name: points, Length: 8, dtype: float64

In [72]:
reviews.taster_name.describe()

count           8018
unique            18
top       Roger Voss
freq            1943
Name: taster_name, dtype: object

In [73]:
reviews.points.mean()

88.3957

In [74]:
reviews.points.max()

100

In [75]:
reviews.points.min()

80

In [76]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams'], dtype=object)

In [77]:
reviews.taster_name.value_counts()

Roger Voss           1943
Michael Schachner    1216
                     ...
Carrie Dykes            6
Fiona Adams             3
Name: taster_name, Length: 18, dtype: int64

In [90]:
#index of maximum value
reviews.points.idxmax()

345

# Maps

In [79]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0      -1.3957
1      -1.3957
         ...
9998    2.6043
9999    2.6043
Name: points, Length: 10000, dtype: float64

In [80]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,New col,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.3957,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1900,10000
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.3957,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1900,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,US,It's interesting and a little odd that this 10...,To Kalon Vineyard I Block,2.6043,75.0,California,Oakville,Napa,NaN,NaN,Robert Mondavi 2010 To Kalon Vineyard I Block ...,Fumé Blanc,Robert Mondavi,1900,2
9999,France,"As befits a single vineyard Gevrey Chambertin,...",Les Evocelles,2.6043,52.0,Burgundy,Gevrey-Chambertin,NaN,Roger Voss,@vossroger,Henri de Villamont 2010 Les Evocelles (Gevrey...,Pinot Noir,Henri de Villamont,1900,1

In [81]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0      -1.3957
1      -1.3957
         ...
9998    2.6043
9999    2.6043
Name: points, Length: 10000, dtype: float64

In [82]:
reviews.country + " - " + reviews.region_1

0                     Italy - Etna
1                              NaN
                   ...
9998                 US - Oakville
9999    France - Gevrey-Chambertin
Length: 10000, dtype: object

# Grouping and sorting

In [110]:
reviews.points.value_counts()

87     1424
88     1341
       ...
99        2
100       2
Name: points, Length: 21, dtype: int64

In [114]:
reviews.groupby('points').points.count()

points
80     16
81     42
       ..
99      2
100     2
Name: points, Length: 21, dtype: int64

In [112]:
reviews.groupby('points').price.min()

points
80       8.0
81       7.0
       ...
99      94.0
100    210.0
Name: price, Length: 21, dtype: float64

In [115]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
12 Linajes                   12 Linajes 2009 Reserva  (Ribera del Duero)
14 Hands                             14 Hands 2010 Riesling (Washington)
                                             ...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Length: 5487, dtype: object

In [116]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   Juanico             Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If you love massive Argentine reds with purity...
          Other             This single-vineyard Malbec blend from vineyar...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Uruguay           Ripe berry and prune aromas are accented by li...

                                                                  designation  \
country   province
Argentina Mendoza Province  Finca Pedregal Single Vineyard Barrancas Maipú...
          Other                                                  Chañar Punco
...                                                                       ...
Uruguay   Juanico                            Preludio Barrel Select Lote N 77
          Uruguay                                                       Roble

                            points  price          province          region_1  \
country   province
Argentina Mendoza Province      95   74.0  Mendoza Province           Mendoza
          Other                 94   68.0             Other  Calchaquí Valley
...                            ...    ...               ...               ...
Uruguay   Juanico               90   45.0           Juanico               NaN
          Uruguay               90   35.0           Uruguay               NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Pascual Toso 2014 Finca Pedregal Single Vineya...
          Other             El Esteco 2013 Chañar Punco Red (Calchaquí Val...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Uruguay                         Narbona 2013 Roble Tannat (Uruguay)

                                              variety          winery  \
country   province
Argentina Mendoza Province  Cabernet Sauvignon-Malbec    Pascual Toso
          Other                             Red Blend       El Esteco
...                                               ...             ...
Uruguay   Juanico                           Red Blend  Familia Deicas
          Uruguay                              Tannat         Narbona

                            New col  index_backwards
country   province
Argentina Mendoza Province     1900           121102
          Other                1900           125338
...                             ...              ...
Uruguay   Juanico              1900           120838
          Uruguay              1900           123966

[238 rows x 15 columns]

In [117]:
reviews.groupby(['country']).price.agg([len, min, max])

              len   min    max
country
Argentina   316.0   6.0  215.0
Armenia       1.0  14.0   14.0
...           ...   ...    ...
US         4181.0   5.0  300.0
Uruguay       5.0  16.0   45.0

[36 rows x 3 columns]

Multi-index

In [118]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                            len
country   province
Argentina Mendoza Province  273
          Other              43
...                         ...
Uruguay   Juanico             1
          Uruguay             1

[238 rows x 1 columns]

In [119]:
type(countries_reviewed.index)

pandas.core.indexes.multi.MultiIndex

In [120]:
countries_reviewed.reset_index()

       country          province  len
0    Argentina  Mendoza Province  273
1    Argentina             Other   43
..         ...               ...  ...
236    Uruguay           Juanico    1
237    Uruguay           Uruguay    1

[238 rows x 3 columns]

# Sorting

In [121]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

     country    province   len
237  Uruguay     Uruguay     1
61   Croatia     Korčula     1
..       ...         ...   ...
233       US  Washington   668
217       US  California  2792

[238 rows x 3 columns]

In [122]:
countries_reviewed.sort_values(by='len', ascending=False)

     country            province   len
217       US          California  2792
233       US          Washington   668
..       ...                 ...   ...
120    Italy  Northwestern Italy     1
237  Uruguay             Uruguay     1

[238 rows x 3 columns]

In [123]:
countries_reviewed.sort_index()

       country          province  len
0    Argentina  Mendoza Province  273
1    Argentina             Other   43
..         ...               ...  ...
236    Uruguay           Juanico    1
237    Uruguay           Uruguay    1

[238 rows x 3 columns]

In [124]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province  len
1    Argentina             Other   43
0    Argentina  Mendoza Province  273
..         ...               ...  ...
237    Uruguay           Uruguay    1
235    Uruguay         Canelones    2

[238 rows x 3 columns]